/* ---------------------------Page Defaults--------------------------------- */

@font-face {
	font-family: "HelveticaNeueLight";
	src: url('../HelveticaNeueTTF/HelveticaNeueLight.ttf');
}

/* Reset rule  
* {
	padding: 0px;
	margin: 0px;
}
*/

#Chart {
	font-family: "HelveticaNeueLight"; 
	font-size: 15px;
	color: #FFFFFF;
	margin: 20px;
	padding: 0px;
	opacity: 1;
}

#Chart .Block .Competency a {
	text-decoration: none;
	color: #FFFFFF;
	margin-left: 10px;
}

#Chart .Block .Competency a:hover {
	color:#000000;
}
/* ------------------------------ Div CSS ---------------------------------- */

.Block {
	padding-top: 10px;
}

.Group {
	padding-left: 30px;
}

.Competency, a {
	padding: 10px;
}

/* ----------- Top Block ------------- */

#TopBlock {
	width: 700px;
}

#Capstone {
	background-color: rgb(226,30,46);
	height: 55px;
	width: 400px;
	float: left;
}

#CapstoneComp {
	background-color: rgb(193,37,56);
	width: 250px;
	float: right;
	clear: right;
}

#CapstoneExpand {
	float: left;
	clear: both;
}

/* ----------- Middle Block ------------- */

#MiddleBlock {
	margin-left: 20px;
	width: 665px;
}

#SystemSkills {
	background-color: rgb(215,78,98);
	height: 130px;
	width: 325px;
	clear: left;
	float: left;
}

#SystemSkillsComp {
	background-color: rgb(193,57,82);
	height: 110px;
	width: 290px;
	float: right;
	clear: right;
}

#InterpersonalSkills {
	background-color: rgb(220,113,89);
	height: 110px;
	width: 285px;
	clear: left;
	float: left;
}

#InterpersonalSkillsComp {
	background-color: rgb(227,88,55);
	height: 90px;
	width: 330px;
	float: right;
	clear: right;
}

#Attitudes_Values {
	background-color: rgb(113,200,186);
	height: 70px;
	width: 240px;
	clear: left;
	float: left;
}

#Attitudes_ValuesComp {
	background-color: rgb(82,184,164);
	height: 50px;
	width: 375px;
	float: right;
	clear: right;
}

#LeadershipBase {
	background-color: rgb(82,184,164);
	height: 70px;
	width: 210px;
	clear: left;
	float: left;
}

#LeadershipBaseComp {
	background-color: rgb(57,135,120);
	height: 50px;
	width: 405px;
	float: right;
	clear: right;
}

/* ----------- Bottom Block ------------- */

#BottomBlock {
	width: 700px;
}

#GlobalKnowledgeBase {
	background-color: rgb(220,213,187);
	height: 60px;
	width: 175px;
	clear: left;
	float: left;
}

#GlobalKnowledgeBaseComp {
	background-color: rgb(179,173,154);
	height: 40px;
	width: 475px;
	float: right;
	clear: right;
}